body {
background: #fff;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
color:#000;
margin: 0;
padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 400px;
height: 100%;
margin-left: 0;
margin-right: 0;
}

.swiper-slide .imgBx {
    width: 400px;
    height: 100%;
    overflow: hidden;
}

.swiper-slide .imgBx img {
    width: 100%;
}

@media (min-width: 360px) and (max-width: 480px) {
    .swiper-slide .imgBx {
        width: 300px
    }
    .swiper-slide {
        width: 300px
    }
}

@media (min-width: 0px) and (max-width: 360px) {
    .swiper-slide .imgBx {
        width: 250px
    }
    .swiper-slide {
        width: 250px
    }
}